## Programming Assignment - Retrieving Wikipedia Articles

In [1]:
import turicreate as tc

In [3]:
articles = tc.SFrame('people_wiki.sframe')
articles.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [25]:
articles['word_count'] = tc.text_analytics.count_words(articles['text'])
articles['tf_idf'] = tc.text_analytics.tf_idf(articles['text'])

### 1. Compare top words according to word counts to TF-IDF

Select only articles about Elton John. What are the 3 words in his articles with highest word counts?  What are the 3 words in his articles with highest TF-IDF?

In [26]:
elton = articles[articles['name'] == 'Elton John']
elton

Columns:
	URI	str
	name	str
	text	str
	tf_idf	dict
	word_count	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|             tf_idf            |           word_count          |
+-------------------------------+-------------------------------+
| {'movements': 5.0306580197... | {'movements': 1.0, 'social... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [27]:
elton['text']

dtype: str
Rows: ?
['sir elton hercules john cbe born reginald kenneth dwight 25 march 1947 is an english singer songwriter composer pianist record producer and occasional actor he has worked with lyricist bernie taupin as his songwriter partner since 1967 they have collaborated on more than 30 albums to datein his fivedecade career elton john has sold more than 300 million records making him one of the bestselling music artists in the world he has more than fifty top 40 hits including seven consecutive no 1 us albums 58 billboard top 40 singles 27 top 10 four no 2 and nine no 1 for 31 consecutive years 19702000 he had at least one song in the billboard hot 100 his single something about the way you look tonightcandle in the wind 1997 sold over 33 million copies worldwide and is the bestselling single of all time he has received six grammy awards five brit awards winning two awards for outstanding contribution to music and the first brits icon in 2013 for his lasting impact on british culture an academy award a golden globe award a tony award a disney legend award and the kennedy center honors in 2004 in 2004 rolling stone ranked him number 49 on its list of 100 influential musicians of the rock and roll era in 2008 billboard ranked him the most successful male solo artist on the billboard hot 100 top alltime artists third overallelton john was inducted into the rock and roll hall of fame in 1994 is an inductee into the songwriters hall of fame and is a fellow of the british academy of songwriters composers and authors having been named a commander of the order of the british empire in 1996 john received a knighthood from elizabeth ii for services to music and charitable services in 1998 john has performed at a number of royal events such as the funeral of princess diana at westminster abbey in 1997 the party at the palace in 2002 and the queens diamond jubilee concert outside buckingham palace in 2012he has been heavily involved in the fight against aids since the late 1980s in 1992 he established the elton john aids foundation and a year later began hosting the annual academy award party which has since become one of the highestprofile oscar parties in the hollywood film industry since its inception the foundation has raised over 200 million john who announced he was bisexual in 1976 and has been openly gay since 1988 entered into a civil partnership with david furnish on 21 december 2005 and after gay marriage became legal in england wed furnish on 21 december 2014 he continues to be a champion for lgbt social movements worldwide and samesex marriage', ... ]

In [28]:
word_count_table = elton[['word_count']].stack('word_count', new_column_name = ['word', 'count'])
word_count_table.sort('count', ascending = False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

The top three words with the highest counts are 'the', 'in' and 'and'.

In [29]:
tf_idf_table = elton[['tf_idf']].stack('tf_idf', new_column_name = ['word', 'tfidf'])
tf_idf_table.sort('tfidf', ascending = False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tfidf        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|   fivedecade  | 10.293348208665249 |
|    19702000   | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

The top three words with the highest tf-idf are 'five', 'worldwide' and 'charitable'.

(or if you calculate tf_idf on all articles and then subset out Elton, it's 'furnish', 'elton' and 'billboard')

### 2. Measuring distance

Compare the cosine distance between the article about Elton John and the articles about Victoria Beckham and Paul McCartney. Which one of the two is closest? Does this make sense?

In [22]:
articles['tf_idf'] = tc.text_analytics.tf_idf(articles['text'])
articles

Columns:
	URI	str
	name	str
	text	str
	tf_idf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |             tf_idf            |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 3.8914310119... |
| alfred j lewy aka sandy le... | {'time': 1.325334207420049... |
| harpdog brown is a singer ... | {'society': 2.444804726208... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 10.986... |
| henry krvits born 30 decem... | {'curtis': 5.2995200328853... |
| sam henderson born october... | {'asses': 9.60020102810530... |
| aaron lacrate is an americ... | {'streamz': 10.98649538922... |
| trevor ferguson aka john f... | {'concordia': 6.2502969408... |
| grant nelson born 27 april... | {'heavies': 8.907053847545... |
| cathy caruth born 1955 is ... | {'2002': 1.875312588782230... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [23]:
victoria = articles[articles['name'] == 'Victoria Beckham']
paul = articles[articles['name'] == 'Paul McCartney']
elton = articles[articles['name'] == 'Elton John']

In [24]:
print(tc.distances.cosine(elton['tf_idf'][0], victoria['tf_idf'][0]))
print(tc.distances.cosine(elton['tf_idf'][0], paul['tf_idf'][0]))

0.9567006376655429
0.8250310029221779

This appears to be slightly strange, except that Victoria Beckham was a member of the Spice Girls... so maybe not.

### 3.     Building nearest neighbors models with different input features and setting the distance metric

Build two nearest neighbours models: one using word counts as features and the other using TF-IDF as features. In both models, set the distance function to cosine similarity.

Use the models to answer the following questions:

- What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?
- What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?
- What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?
- What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?

In [30]:
articles['word_count'] = tc.text_analytics.count_words(articles['text'])

In [31]:
knn_tfidf_model = tc.nearest_neighbors.create(articles, features = ['tf_idf'], label = 'name', distance = 'cosine')
knn_wc_model = tc.nearest_neighbors.create(articles, features = ['word_count'], label = 'name', distance = 'cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [32]:
knn_tfidf_model

Class                          : NearestNeighborsModel

Attributes
----------
Method                         : brute_force
Number of distance components  : 1
Number of examples             : 59071
Number of feature columns      : 1
Number of unpacked features    : 547979
Distance                       : cosine
Total training time (seconds)  : 15.4511

In [33]:
knn_wc_model

Class                          : NearestNeighborsModel

Attributes
----------
Method                         : brute_force
Number of distance components  : 1
Number of examples             : 59071
Number of feature columns      : 1
Number of unpacked features    : 547979
Distance                       : cosine
Total training time (seconds)  : 14.266

In [34]:
elton = articles[articles['name'] == 'Elton John']
knn_tfidf_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.316ms      |

| Done         |         | 100         | 467.135ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [35]:
knn_wc_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 2.738ms      |

| Done         |         | 100         | 379.005ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

- the most similar article to Elton John's using word counts as features is Cliff Richard
- the most similar article to Elton John's using tf-idf as features is Rod Stewart

In [40]:
victoria = articles[articles['name'] == 'Victoria Beckham']
knn_tfidf_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.397ms     |

| Done         |         | 100         | 421.297ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]

In [41]:
knn_wc_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 3.625ms      |

| Done         |         | 100         | 384.675ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

- the most similar article to Victoria Beckham's using word counts as features is Mary Fitzgerald
- the most similar article to Elton John's using tf-idf as features is David Beckham